<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ILMergeGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <ILMergeGui.Properties.Settings>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Sign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnionDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
        </ILMergeGui.Properties.Settings>
    </applicationSettings>
</configuration>
